[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "epimdr"]
	path = epimdr
	url = https://github.com/cran/epimdr
[submodule "ncf"]
	path = ncf
	url = https://github.com/objornstad/ncf
[submodule "nlts"]
	path = nlts
	url = https://github.com/objornstad/nlts
