[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "ncf"]
	path = ncf
	url = https://github.com/objornstad/ncf
	shallow = true
	registered = true
